<div class="col-md-12">

  <h2 class="text-center"> 我创建的电影 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 名称 </th>
        <th> 简述 </th>
        <th> 评论数量 </th>
        <th> 更新时间 </th>
      </tr>
    </thead>

    <tbody>
    <% @films.each do |film| %>
      <tr>
        <td> # </td>
        <td> <%= link_to(film.title, film_path(film)) %> </td>
        <td> <%= render_film_description(film) %> </td>
        <td> <%= film.posts.count %> </td>
        <td> <%= film.updated_at %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
