<%= simple_form_for @film do |f| %>
 <div class="form-film">
    <%= f.input :title, label:'片名', input_html: { class: "form-control"} %>
   <%= f.input :description, label: '简述', input_html: { class: "form-control"} %>
 </div>
 <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
 <% end %>
