<div class="col-md-12">
  <div class="film">
    <%= link_to("New film", new_film_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>影名</td>
        <td>电影描述</td>
        <td>创建者</td>
      </tr>
    </thead>
    <tbody>
    <%= render :partial => "film_item", :collection => @films, :as => :film %>
  </tbody>
</table>
</div>
