<div class="col-md-12">
  <div class="film">

     <%= link_to("发表评论", new_film_post_path(@film), class: "btn btn-default pull-right")%>
    <% if current_user && current_user == @film.user %>
    <%= link_to("编辑", edit_film_path(@film), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
   <h2><%= @film.title %></h2>
   <p><%= @film.description %></p>
 </div>
